  .amazon-box {
    border: 1px solid #CCC;
    padding: 10px;
  }
  .amazon-image {
    float: left;
    margin: 0 12px 0 0;
  }
  .amazon-info {
    line-height: 120%;
  }
  .amazon-name {
    margin-bottom: 10px;
  }
  .clear-left {
    clear: left;
  }