<section class="sidebar">
  <header>ABOUT</header>
  <div>
      <div class="about-name">Eichisanden
        <a href="https://twitter.com/eichisanden" title="Twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter about-sns-icon" aria-hidden="true"></i></a>
        <a href="https://github.com/eichisanden" title="Github" target="_blank" rel="nofollow"><i class="fa fa-github about-sns-icon" aria-hidden="true"></i></a>
        <a href="http://eichisanden.hateblo.jp" title="Hatena" target="_blank" rel="nofollow" class="about-sns-icon">B!</a>
      </div>
      <div>
        自称プログラマーです
      </div>
      <div>
        Vim派/JIS配列派/タケノコ派
      </div>
    </div>
  </div>
</section>
